# Automatic creation of short URLs of Rome drinking fountains in Wikidata
The following script adds h2o short Urls to fountain items as per https://github.com/water-fountains/proximap/issues/244
(and https://github.com/water-fountains/proximap/issues/133)

## Initialize environment

In [36]:
from datetime import datetime as dt
dtFmt = "%y%m%d_%H%M%S"
print (dt.now().strftime(dtFmt))
import pandas as pd
import io
import numpy as np
from urllib.request import urlopen
import json
from math import *
from platform import python_version
print("Python v "+python_version())
#https://github.com/paulhoule/gastrodon/issues/7 
from gastrodon import RemoteEndpoint,QName,ttl,URIRef,inline
from matplotlib import pyplot

191201_101809
Python v 3.6.5

In [37]:
#@prefix wikibase: <wikibase: <http://wikiba.se/ontology#> .
prefixes=inline("""
   @prefix wd: <http://www.wikidata.org/entity/> .
   @prefix wdt: <http://www.wikidata.org/prop/direct/> .
   @prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
   @prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
""").graph
endpoint=RemoteEndpoint(
   #"https://query.wikidata.org/sparql"
    "https://query.wikidata.org/bigdata/namespace/wdq/sparql"
   ,prefixes=prefixes
)

## Load data

In [38]:
df = pd.read_csv("osmFountainsRome191201_082705.csv")

In [39]:
df.head()

,type,id,lat,lon,amenity,fountain,created_by,wheelchair,flow,architect,...,operator,designation,level,location,covered,description:de,website,artwork_type,subject:wikidata,drinking_water:legal
0,node,246569213,41.824508,12.485546,drinking_water,nasone,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node,246569214,41.852621,12.478328,drinking_water,nasone,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node,246569215,41.854102,12.476834,drinking_water,nasone,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node,246569216,41.863749,12.478948,drinking_water,nasone,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node,246571139,41.904287,12.513278,drinking_water,NaN,JOSM,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Rename columns to make them easier to work with

In [40]:
# remove not needed columns
df = df.drop(columns=['type','id'])

In [41]:
# rename columns
df = df.rename(index=str, columns=
               {"lat": "Y"})

In [42]:
# rename columns
df = df.rename(index=str, columns=
               {"lon": "X"})

In [43]:
df.head()

,Y,X,amenity,fountain,created_by,wheelchair,flow,architect,description,drinking_water,...,operator,designation,level,location,covered,description:de,website,artwork_type,subject:wikidata,drinking_water:legal
0,41.824508,12.485546,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41.852621,12.478328,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41.854102,12.476834,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41.863749,12.478948,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41.904287,12.513278,drinking_water,NaN,JOSM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
len(df)

1645

## Identify already existing fountains
### Query fountains from Wikidata

In [45]:
# Find the geographic extent of the data

buffer = 0.0003  # in degrees, corresponds to about 20-30 meters)
bounds = {
    'minX': df['X'].min() - buffer,
    'minY': df['Y'].min() - buffer,
    'maxX': df['X'].max() + buffer,
    'maxY': df['Y'].max() + buffer
}
print("bounds: ")
for key,value in bounds.items():
    print(key+ ": "+str(value))

bounds:
minX: 12.3238906
minY: 41.802459999999996
maxX: 12.6220409
maxY: 41.99526720000001

In [46]:
# Query fountains (both water wells and fountains) from Wikidata within bounding box found above
# placeLabel 

query_string = """SELECT ?place ?placeLabel ?location ?date ?catalog_code ?catalogLabel ?operator ?describeAtUrl
WHERE
{{
  # Enter coordinates
  SERVICE wikibase:box {{
    ?place wdt:P625 ?location .
    bd:serviceParam wikibase:cornerWest "Point({minX} {minY})"^^geo:wktLiteral.
    bd:serviceParam wikibase:cornerEast "Point({maxX} {maxY})"^^geo:wktLiteral.
  }} .
  # Is a water well or fountain or subclass of fountain
  FILTER (EXISTS {{ ?place wdt:P31/wdt:P279* wd:Q43483 }} || EXISTS {{ ?place wdt:P31/wdt:P279* wd:Q483453 }}).
  SERVICE wikibase:label {{
    bd:serviceParam wikibase:language "[AUTO_LANGUAGE],de" .
  }} 
  OPTIONAL {{ ?place p:P528 ?catalog_code.
            ?catalog_code pq:P972 ?catalog.}}
  OPTIONAL {{ ?place wdt:P571 ?date.}}
  OPTIONAL {{ ?place wdt:P973 ?describeAtUrl.}}
  OPTIONAL {{ ?place wdt:P137 ?operator.}}
  OPTIONAL {{ ?place rdfs:placeLabel ?placeLabel}}
}}
  """.format(**bounds)

print(query_string)

SELECT ?place ?placeLabel ?location ?date ?catalog_code ?catalogLabel ?operator ?describeAtUrl
WHERE
{
  # Enter coordinates
  SERVICE wikibase:box {
    ?place wdt:P625 ?location .
    bd:serviceParam wikibase:cornerWest "Point(12.3238906 41.802459999999996)"^^geo:wktLiteral.
    bd:serviceParam wikibase:cornerEast "Point(12.6220409 41.99526720000001)"^^geo:wktLiteral.
  } .
  # Is a water well or fountain or subclass of fountain
  FILTER (EXISTS { ?place wdt:P31/wdt:P279* wd:Q43483 } || EXISTS { ?place wdt:P31/wdt:P279* wd:Q483453 }).
  SERVICE wikibase:label {
    bd:serviceParam wikibase:language "[AUTO_LANGUAGE],de" .
  }
  OPTIONAL { ?place p:P528 ?catalog_code.
            ?catalog_code pq:P972 ?catalog.}
  OPTIONAL { ?place wdt:P571 ?date.}
  OPTIONAL { ?place wdt:P973 ?describeAtUrl.}
  OPTIONAL { ?place wdt:P137 ?operator.}
  OPTIONAL { ?place rdfs:placeLabel ?placeLabel}
}

In [47]:
# Perform query
query_result = endpoint.select(query_string)

In [17]:
#print(query_string)
print("\n\nTotal number of rows incl. duplicates "+str(len(query_result))+" size "+str(query_result.size))

Total number of rows incl. duplicates 219 size 1752

### Tidy up data

In [48]:
# Extract coordinates from Wikidata results

query_result['X'] = query_result['location'].apply(lambda l:float(l.split('(')[1].split(' ')[0]))
query_result['Y'] = query_result['location'].apply(lambda l:float(l.split(' ')[1].split(')')[0]))

In [49]:
query_result.head(100)

,place,placeLabel,location,date,catalog_code,catalogLabel,operator,describeAtUrl,X,Y
0,wd:Q74574057,Brunnen,Point(12.519195 41.8814447),None,None,None,None,https://h2o.do/Q74574057,12.519195,41.881445
1,wd:Q76937644,Brunnen,Point(12.485546 41.8245081),None,None,None,None,https://h2o.do/Q76937644,12.485546,41.824508
2,wd:Q76937896,Brunnen,Point(12.4783285 41.8526205),None,None,None,None,https://h2o.do/Q76937896,12.478328,41.852621
3,wd:Q76937912,Brunnen,Point(12.4768335 41.8541022),None,None,None,None,https://h2o.do/Q76937912,12.476833,41.854102
4,wd:Q76937931,Brunnen,Point(12.4789476 41.8637486),None,None,None,None,https://h2o.do/Q76937931,12.478948,41.863749
...,...,...,...,...,...,...,...,...,...,...
95,wd:Q76941464,Brunnen,Point(12.5085975 41.9004915),None,None,None,None,None,12.508598,41.900492
96,wd:Q76941471,Brunnen,Point(12.5211585 41.8514972),None,None,None,None,None,12.521159,41.851497
97,wd:Q76941484,Brunnen,Point(12.4807003 41.8488312),None,None,None,None,None,12.480700,41.848831
98,wd:Q76941501,Brunnen,Point(12.4832348 41.8457644),None,None,None,None,None,12.483235,41.845764
99,wd:Q76941519,Brunnen,Point(12.4834766 41.8445871),None,None,None,None,None,12.483477,41.844587

### Compute distances between fountains

In [50]:
# helper function to compute distances on the globe, returns distances in meters
def spherical_dist(pos1, pos2, r=6371000):
    pos1 = pos1 * np.pi / 180
    pos2 = pos2 * np.pi / 180
    cos_lat1 = np.cos(pos1[..., 0])
    cos_lat2 = np.cos(pos2[..., 0])
    cos_lat_d = np.cos(pos1[..., 0] - pos2[..., 0])
    cos_lon_d = np.cos(pos1[..., 1] - pos2[..., 1])
    return r * np.arccos(cos_lat_d - cos_lat1 * cos_lat2 * (1 - cos_lon_d))


# compute distances from each ODZ fountain to each Wikidata fountain
distances = spherical_dist(df[['X','Y']].values[:, None], query_result[['X','Y']].values)

### Identify nearest and second nearest matches for each wikidata Rome fountain

In [51]:
# indexes of nearest fountains
nearest_idx = np.argmin(distances, axis=1).tolist()

# QID of nearest fountains
df['nearest_qid'] = query_result.iloc[nearest_idx]['place'].apply(lambda id:id[3:]).tolist()

# distance to nearest fountain
df['nearest_distance'] = np.min(distances, axis=1).tolist()


# then remove nearest
i_line=0
for i_col in nearest_idx:
    distances[i_line, i_col] = 100000
    i_line += 1
# find distance to second nearest
df['2nd_nearest_distance'] = np.min(distances, axis=1).tolist()

df.head(100)

,Y,X,amenity,fountain,created_by,wheelchair,flow,architect,description,drinking_water,...,location,covered,description:de,website,artwork_type,subject:wikidata,drinking_water:legal,nearest_qid,nearest_distance,2nd_nearest_distance
0,41.824508,12.485546,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76937644,0.0,612.792877
1,41.852621,12.478328,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76937896,0.0,129.883666
2,41.854102,12.476834,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76937912,0.0,102.431975
3,41.863749,12.478948,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76937931,0.0,254.841443
4,41.904287,12.513278,drinking_water,NaN,JOSM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76937949,0.0,298.853091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,41.901662,12.485754,drinking_water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76939583,0.0,97.237198
96,41.911419,12.487827,drinking_water,NaN,JOSM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76939597,0.0,342.999629
97,41.892383,12.512610,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76939614,0.0,79.473433
98,41.893211,12.509447,drinking_water,nasone,NaN,NaN,push-button,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76939633,0.0,139.503504
99,41.892285,12.508577,drinking_water,nasone,NaN,NaN,constant,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Q76939653,0.0,139.503504

### Find out what information already exists for the nearest fountains

In [52]:
# does nearest have describedAtUrl?
df['nearest_has_described_at_url'] = query_result.iloc[nearest_idx]['describeAtUrl'].apply(lambda id:id is not None).tolist()

# does nearest have label in german?
df['nearest_has_label_de'] = (query_result.iloc[nearest_idx]['place'].apply(lambda p:p[3:]) != query_result.iloc[nearest_idx]['placeLabel']).tolist()

# does nearest have date?
df['nearest_has_date'] = query_result.iloc[nearest_idx]['date'].apply(lambda d:d is not None).tolist()

# does nearest have operator?
df['nearest_has_operator'] = query_result.iloc[nearest_idx]['operator'].apply(lambda id:id is not None).tolist()

# does nearest have catalog code?
df['nearest_has_code'] = query_result.iloc[nearest_idx]['catalog_code'].apply(lambda id:id is not None).tolist()

### Decide on whether nearest fountain should be considered a match

In [53]:
# The nearest fountain is a match if: 
# - no further than x m away
# - 2nd nearest fountain at nearest least ratio_min further away than the nearest fountain
def validate_proposal(qid, d1, d2, dmax=10, ratio_min=0.5):
    
    if d1 == 0 or (d1<=dmax and d2/d1-1 >= ratio_min):
        return 'match'
    elif d1<=dmax and d2/d1-1 < ratio_min:
        return 'unclear'
    else:
        #print("Q-# "+qid+"\td1 "+str(d1)+"\td2 "+str(d2))
        return 'no match'
    
for index, row in df.iterrows():
    df.loc[index, 'match_found'] = validate_proposal(
        row['nearest_qid'], 
        row['nearest_distance'], 
        row['2nd_nearest_distance'],
        dmax=15
    )
dffinal = df.drop(columns=['nearest_distance', '2nd_nearest_distance'])

In [54]:
len(dffinal)

1645

In [55]:
dffinal

,Y,X,amenity,fountain,created_by,wheelchair,flow,architect,description,drinking_water,...,artwork_type,subject:wikidata,drinking_water:legal,nearest_qid,nearest_has_described_at_url,nearest_has_label_de,nearest_has_date,nearest_has_operator,nearest_has_code,match_found
0,41.824508,12.485546,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76937644,True,True,False,False,False,match
1,41.852621,12.478328,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76937896,True,True,False,False,False,match
2,41.854102,12.476834,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76937912,True,True,False,False,False,match
3,41.863749,12.478948,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76937931,True,True,False,False,False,match
4,41.904287,12.513278,drinking_water,NaN,JOSM,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76937949,True,True,False,False,False,match
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640,41.913437,12.461680,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q3747400,False,False,False,False,False,no match
1641,41.902114,12.590335,drinking_water,NaN,NaN,yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76939216,True,True,False,False,False,no match
1642,41.888007,12.461600,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76938934,True,True,False,False,False,no match
1643,41.903375,12.512719,drinking_water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76937949,True,True,False,False,False,no match
1644,41.877493,12.474922,drinking_water,nasone,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Q76939150,True,True,False,False,False,no match

In [56]:
print("\n\nTotal number of rows "+str(len(dffinal)))

Total number of rows 1645

## Create Quickstatement commands from data
### Helper functions to format content according to Quickstatements v1 syntax

In [57]:
def createline(lines, item, prop, value, extra, qualifiers=[]):
    # general function to create Quickstatement v1 commands
    if value != '' and value != '""':
        statement = '{}\t{}\t{}'.format(item, prop, value)
        if len(qualifiers):
            # append qualifiers if applicable
            for q in qualifiers:
                statement += '\t{}\t{}'.format(q['prop'], q['value'])
        statement += extra
        statement += '\n'
        lines.append(statement)
    return lines

### Create statements, taking care not to overwrite existing data

In [59]:
# initialize command storage list
lines = []
i=0
for index, row in dffinal.iterrows():
    i+=1
    # either create new or edit existing entity
    if row['match_found'] == 'no match':
        continue
    elif row['match_found'] == 'unclear':
        print('unclear match')
        print(row)
        continue
    elif row['match_found'] == 'match':
        # update existing fountain
        item = row['nearest_qid']
        
        
    # Add this basic information only if creating a new entity
    if row['nearest_has_described_at_url']:
        print(str(i)+' '+item+' has ready a shortUrl')
    else:
        #short URL as per https://github.com/water-fountains/proximap/issues/244
        lines = createline(lines, item, 'P973', '"https://h2o.do/'+item+'"','')

1 Q76937644 has ready a shortUrl
2 Q76937896 has ready a shortUrl
3 Q76937912 has ready a shortUrl
4 Q76937931 has ready a shortUrl
5 Q76937949 has ready a shortUrl
6 Q76937968 has ready a shortUrl
7 Q76937986 has ready a shortUrl
8 Q76938003 has ready a shortUrl
9 Q76938024 has ready a shortUrl
10 Q76938042 has ready a shortUrl
11 Q76938058 has ready a shortUrl
12 Q76938075 has ready a shortUrl
13 Q76938093 has ready a shortUrl
14 Q76938110 has ready a shortUrl
15 Q76938125 has ready a shortUrl
16 Q76938144 has ready a shortUrl
17 Q76938161 has ready a shortUrl
18 Q76938177 has ready a shortUrl
19 Q76938196 has ready a shortUrl
20 Q76938214 has ready a shortUrl
21 Q76938234 has ready a shortUrl
22 Q76938253 has ready a shortUrl
23 Q76938275 has ready a shortUrl
24 Q76938291 has ready a shortUrl
25 Q76938312 has ready a shortUrl
26 Q76938331 has ready a shortUrl
27 Q76938351 has ready a shortUrl
28 Q76938361 has ready a shortUrl
29 Q76938377 has ready a shortUrl
30 Q76938390 has ready a shortUrl
31 Q76938403 has ready a shortUrl
32 Q76938418 has ready a shortUrl
33 Q76938439 has ready a shortUrl
34 Q76938459 has ready a shortUrl
35 Q76938477 has ready a shortUrl
36 Q76938497 has ready a shortUrl
37 Q76938516 has ready a shortUrl
38 Q76938536 has ready a shortUrl
39 Q76938554 has ready a shortUrl
40 Q76938573 has ready a shortUrl
41 Q76938592 has ready a shortUrl
42 Q76938612 has ready a shortUrl
43 Q76938631 has ready a shortUrl
44 Q76938649 has ready a shortUrl
45 Q76938671 has ready a shortUrl
46 Q76938688 has ready a shortUrl
47 Q76938707 has ready a shortUrl
48 Q76938728 has ready a shortUrl
49 Q76938748 has ready a shortUrl
50 Q76938768 has ready a shortUrl
51 Q76938782 has ready a shortUrl
52 Q76938795 has ready a shortUrl
53 Q76938807 has ready a shortUrl
54 Q76938819 has ready a shortUrl
55 Q76938831 has ready a shortUrl
56 Q76938844 has ready a shortUrl
57 Q76938864 has ready a shortUrl
58 Q76938882 has ready a shortUrl
59 Q76938898 has ready a shortUrl
60 Q76938916 has ready a shortUrl
61 Q76938934 has ready a shortUrl
62 Q76938952 has ready a shortUrl
63 Q76938968 has ready a shortUrl
64 Q76938989 has ready a shortUrl
65 Q76939012 has ready a shortUrl
66 Q76939033 has ready a shortUrl
67 Q76939052 has ready a shortUrl
68 Q76939073 has ready a shortUrl
69 Q76939093 has ready a shortUrl
70 Q76939113 has ready a shortUrl
71 Q76939125 has ready a shortUrl
72 Q76939140 has ready a shortUrl
73 Q76939150 has ready a shortUrl
74 Q76939163 has ready a shortUrl
75 Q76939178 has ready a shortUrl
76 Q76939196 has ready a shortUrl
77 Q76939216 has ready a shortUrl
78 Q76939235 has ready a shortUrl
79 Q76939256 has ready a shortUrl
80 Q76939275 has ready a shortUrl
81 Q76939294 has ready a shortUrl
82 Q76939314 has ready a shortUrl
83 Q76939332 has ready a shortUrl
84 Q76939351 has ready a shortUrl
85 Q76939370 has ready a shortUrl
86 Q76939391 has ready a shortUrl
87 Q76939409 has ready a shortUrl
88 Q76939428 has ready a shortUrl
89 Q76939450 has ready a shortUrl
90 Q76939470 has ready a shortUrl
91 Q76939488 has ready a shortUrl
92 Q76939504 has ready a shortUrl
93 Q76939522 has ready a shortUrl
94 Q76939545 has ready a shortUrl
95 Q76939564 has ready a shortUrl
96 Q76939583 has ready a shortUrl
97 Q76939597 has ready a shortUrl
98 Q76939614 has ready a shortUrl
99 Q76939633 has ready a shortUrl
100 Q76939653 has ready a shortUrl
101 Q76939671 has ready a shortUrl
102 Q76939691 has ready a shortUrl
103 Q76939711 has ready a shortUrl
104 Q76939729 has ready a shortUrl
105 Q76939748 has ready a shortUrl
106 Q76939770 has ready a shortUrl
107 Q76939789 has ready a shortUrl
108 Q76939808 has ready a shortUrl
109 Q76939826 has ready a shortUrl
110 Q76939846 has ready a shortUrl
111 Q76939866 has ready a shortUrl
112 Q76939879 has ready a shortUrl
113 Q76939896 has ready a shortUrl
114 Q76939914 has ready a shortUrl
115 Q76939931 has ready a shortUrl
116 Q76939948 has ready a shortUrl
117 Q76939970 has ready a shortUrl
118 Q76939991 has ready a shortUrl
119 Q76940010 has ready a shortUrl
120 Q76940031 has ready a shortUrl
121 Q76940051 has ready a shortUrl
122 Q76940069 has ready a shortUrl
123 Q76940087 has ready a shortUrl
124 Q76940108 has ready a shortUrl
125 Q76940127 has ready a shortUrl
126 Q76940147 has ready a shortUrl
127 Q76940163 has ready a shortUrl
128 Q76940183 has ready a shortUrl
129 Q76940204 has ready a shortUrl
130 Q76940224 has ready a shortUrl
131 Q76940244 has ready a shortUrl
132 Q76940263 has ready a shortUrl
133 Q76940282 has ready a shortUrl
134 Q76940301 has ready a shortUrl
135 Q76940318 has ready a shortUrl
136 Q76940337 has ready a shortUrl
137 Q76940356 has ready a shortUrl
138 Q76940374 has ready a shortUrl
139 Q76940393 has ready a shortUrl
140 Q76940413 has ready a shortUrl
141 Q76940430 has ready a shortUrl
142 Q76940451 has ready a shortUrl
143 Q76940477 has ready a shortUrl
144 Q76940506 has ready a shortUrl
145 Q76940520 has ready a shortUrl
146 Q76940534 has ready a shortUrl
147 Q76940548 has ready a shortUrl
148 Q76940563 has ready a shortUrl
149 Q76940578 has ready a shortUrl
150 Q76940592 has ready a shortUrl
151 Q76940604 has ready a shortUrl
152 Q76940625 has ready a shortUrl
153 Q76940642 has ready a shortUrl
154 Q76940660 has ready a shortUrl
155 Q76940676 has ready a shortUrl
156 Q76940696 has ready a shortUrl
157 Q76940721 has ready a shortUrl
158 Q76940740 has ready a shortUrl
159 Q76940758 has ready a shortUrl
160 Q76940786 has ready a shortUrl
161 Q76940805 has ready a shortUrl
162 Q76940824 has ready a shortUrl
163 Q76940849 has ready a shortUrl
164 Q76940870 has ready a shortUrl
165 Q76940892 has ready a shortUrl
166 Q76940911 has ready a shortUrl
167 Q76940932 has ready a shortUrl
168 Q76940951 has ready a shortUrl
169 Q76940969 has ready a shortUrl
170 Q76940987 has ready a shortUrl
171 Q76941009 has ready a shortUrl
172 Q76941029 has ready a shortUrl
175 Q3747370 has ready a shortUrl
289 Q74574057 has ready a shortUrl
701 Q983774 has ready a shortUrl
724 Q857540 has ready a shortUrl
745 Q3747402 has ready a shortUrl
973 Q76939671 has ready a shortUrl
1417 Q1085738 has ready a shortUrl
1418 Q1114231 has ready a shortUrl
1439 Q3747378 has ready a shortUrl
1610 Q936296 has ready a shortUrl
1636 Q3747440 has ready a shortUrl

# Write commands to file

In [60]:
quickStatFileName = "quickstatement_commands_Rome_fountain_shortUrls_"+dt.now().strftime(dtFmt)+".txt"
with io.open(quickStatFileName, "w", encoding='utf8') as f:
    f.writelines(lines)
print("wrote '"+quickStatFileName+"' with "+str(len(lines))+" lines")

wrote 'quickstatement_commands_Rome_fountain_shortUrls_191201_102001.txt' with 155 lines

# Import into Wikidata
- Go to https://tools.wmflabs.org/wikidata-todo/quick_statements.php.
- Authenticate yourself with your Wikidata account.
- Copy and paste the contents of quickstatement_commands*.txt into the blank field, and run the commands

see ../20191030_1600_import.png

...
58. Processing Q72935495 (Q72935495 Lde "Brunnen (Seelöwe-Planschbecken )")
59. Processing Q72935495 (Q72935495 P137 Q27229237)

All done!.

In [15]:
# it may well take half an hour until it works https://query.wikidata.org/